html
  head
    title Action View
    link(rel='shortcut icon', href='html/favicon.png', type='image/x-icon') 
    include jade/css.jade
   body 
    include jade/scripts.jade
    include jade/controls.jade
    include jade/tabs.jade
    script(src='main.js')



