<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="db4o-devel" version="8.1.184.15492" targetFramework="net40" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.4.0" targetFramework="net40" />
  <package id="HelixToolkit" version="2013.1.14.1" targetFramework="net45" />
  <package id="ILNumerics.32Bit" version="2.14.4735.552" targetFramework="net40" />
  <package id="KinectToolbox" version="1.2.1.1" targetFramework="net40" />
  <package id="MathNet.Numerics" version="2.4.0" targetFramework="net40" />
</packages>