<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILNumerics" version="3.2.2.0" targetFramework="net45" />
  <package id="ILNumerics.32Bit" version="2.14.4735.552" targetFramework="net45" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="2.4.0" targetFramework="net45" />
  <package id="MathNet.Numerics.MKL.Win-x86" version="1.2.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
</packages>